body{
    text-align:center;
    background-color:yellow;
    
  }
  #firstp{
    word-spacing:10px; 
    font-variant:small-caps;
    font-size:80px;
  }
  #reasontext{
    font-size:50px;
  }
  #album{
    border-style:solid;
      border-color: #1B5E20;
    border:1px;
    border-radius:80px;
    padding:5px;
    width:450px
  }